* {
    box-sizing: border-box;
    padding: auto;
}

body {
    display: flex;
    height:100vh;
    flex-direction:column;
    width:100vw;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

}
header {
    background-color: white;
    padding: 5px 10px;
    border-bottom: 1px solid grey;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0 auto;
    padding: 1rem 2rem;
    
}

 header nav ul {
    display:flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width:50%;
}

header nav ul li a {
    text-decoration: none;
    color:grey;
}

 a:hover {
    color:orange;
}
main a {
    font-style: italic;
    color:grey;
    text-decoration: none;
}

header nav .logo {
    font:bolder;
    font-size: 1.5rem;
    color:brown;
}

.container {
    /*height:100vh;
    width:100vw;*/
}

.movie_card {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:10px;
    /*height:auto;
    width:auto;*/

}
header .btn {
    background-color: #3882f6;
    color:white;
    border:none;
    border-radius: 20px;
    line-height: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    padding:8px 28px;
}

input.nosubmit {
  width: 50%;
  border: 1px solid #555;
  display: block;
  padding: 10px 4px 10px 40px;
  border-radius: 20px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
container {
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
}
footer {
    background-color: #1f2937;
    color:white;
    text-align: center;
    font-size: 14px;
    padding:16px 32px;
}